In [3]:
import numpy as np
import pandas as pd

In [2]:
# load Training Set
x_train = np.load("Xtrain_Regression_Part2.npy")
y_train = np.load("Ytrain_Regression_Part2.npy")
x_test = np.load("Xtest_Regression_Part2.npy")

In [6]:
# sorted(x_train)

# q1, q3 = np.percentile(x_train, [25,75])

# iqr = q3 - q1

# lower_bound = q1 -(1.5 * iqr) 
# upper_bound = q3 +(1.5 * iqr)

# lower_bound

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [8]:
df = pd.DataFrame(x_train)
df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,-0.096306,0.103394,-0.041093,-0.036073,-0.051363,0.175977,-0.002615,0.021736,-0.110863,0.068009,0.058208,0.118485,0.102668,0.040101,0.190118,0.014326,0.066005,-0.040918,0.036576,-0.050878
std,0.947031,0.950758,1.073739,1.007231,0.992275,0.995634,0.924536,1.125673,1.117951,0.937170,1.024629,0.915533,0.929227,0.987411,1.113879,0.981693,0.918804,0.880285,1.065829,1.030510
min,-2.237765,-1.694381,-3.433329,-2.851244,-2.558154,-1.788471,-1.965246,-3.310151,-2.953069,-2.286955,-2.027333,-2.017503,-2.584288,-2.372827,-1.984497,-2.286663,-2.240194,-2.006596,-2.560387,-2.830737
25%,-0.776680,-0.552726,-0.619567,-0.601832,-0.657576,-0.555407,-0.648780,-0.656277,-0.986965,-0.522125,-0.713441,-0.397109,-0.474409,-0.523735,-0.656624,-0.766512,-0.639798,-0.581918,-0.738254,-0.846551
50%,-0.122215,0.065946,-0.058747,-0.074514,0.045014,0.154525,-0.107089,0.125309,-0.009224,-0.042286,0.074529,0.077402,0.180081,0.025515,0.098189,0.098965,0.130909,-0.017476,0.145513,0.067945
75%,0.554967,0.700684,0.631118,0.699446,0.593339,0.780462,0.607118,0.660079,0.704632,0.642025,0.767151,0.709581,0.761737,0.648176,0.886054,0.728499,0.734412,0.458716,0.777096,0.696973
max,2.435484,2.290980,3.020603,2.168331,1.907413,2.934458,2.130421,3.019401,2.074649,2.425904,2.670014,2.175048,2.022771,3.159331,3.076485,2.431136,2.003396,1.909748,2.730227,2.093984

In [35]:
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1
# print(IQR)
# print(Q3)

(Q3 + 1.5 * IQR)

0     2.552437
1     2.580798
2     2.507145
3     2.651364
4     2.469712
5     2.784265
6     2.490965
7     2.634613
8     3.242027
9     2.388250
10    2.988040
11    2.369616
12    2.615957
13    2.406044
14    3.200070
15    2.971017
16    2.795728
17    2.019667
18    3.050120
19    3.012258
dtype: float64

In [22]:
# print(df < (Q1 - 1.5 * IQR)) |(df > (Q3 + 1.5 * IQR))
outliers = (df < (Q1 - 1.5 * IQR)).astype(bool) | (df > (Q3 + 1.5 * IQR)).astype(bool)
outliers

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
96,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
97,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
98,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
99,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [26]:
df.loc[3,5]

2.9344575838234985